<div class="row justify-content-center">
  <div class="col-lg-4 col-md-8 col-sm-8 col-12">
    <p>Your word: <%= @word %></p>

    <%= link_to "New Game", new_path, class: "btn btn-primary text-white py-2" %>
  </div>
</div>
